---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";
@import "bourbon/bourbon";
@import "normalize";

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  padding: 1em;
}

main {
}

.site-footer {
  margin-top: 2em;
}
