---
---

@charset "utf-8";
@import url(http://fonts.googleapis.com/css?family=Arimo:400,700,400italic);
@import "bourbon/bourbon";

@import "00-base/normalize",
        "00-base/variables",
        "00-base/helpers",
        "00-base/mixins";

@import "01-atoms/syntax-highlighting",
        "01-atoms/media",
        "01-atoms/code",
        "01-atoms/lists",
        "01-atoms/headings",
        "01-atoms/paragraphs";

@import "02-molecules/nav.scss";

@import "03-organisms/header",
        "03-organisms/footer",
        "03-organisms/aside",
        "03-organisms/posts-list",
        "03-organisms/albums-list";

@import "04-templates/post";

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: $base-font-size;
}

body {
  font-size: 100%;
  color: $color-text;
  font-family: 'Arimo', sans-serif;
  line-height: $base-line-height;
  text-rendering: optimizeLegibility;
  background-color: $color-background;
}

hr {
  width: 100%;
  height: 1px;
  margin: 2rem 0;
  border: none;
  background-color: #eee;
}

a {
  color: $color-link;
  &:hover {
    color: $color-link-hover;
  }
}

.wrapper {
  max-width: 1180px;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem 2rem;
  @include breakpoint(xs) {
    padding: 1rem;
  }
}

.flex-container {
  @include breakpoint(sm) {
    @include display(flex);
  }
}

.aside {
  @include breakpoint(sm) {
    width: 30%;
    min-width: 30%;
  }
  margin-bottom: 2rem;
}

.main {
  @include breakpoint(sm) {
    width: 70%;
  }
}
