/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */
* {
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box; 
}

html, body, #map-canvas { height: 100%; width: 100%; }

body {
  background-color: #fff;
  font-size: 21px;
  color: #333;
  font-family: "ff-meta-serif-web-pro",serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

p {line-height: 1.55; padding-bottom: 20px;}
h1 {font-size: 160%;}
h2 {font-size: 140%;}
h3 {font-size: 130%;}
h4 {font-size: 120%;}

a         { color: #141414; }
a:hover   { color: #65BBE2; text-decoration: none; }

i {font-style: italic; font-weight: 400;}

blockquote {
  max-width: 1040px; 
  margin: 0 auto 20px; 
  padding: 10px 20px; 
  text-align: center;
  font-size: 125%;
  font-style: italic; 
  line-height: 145%;
  font-weight: 400;
}

img {width: 100%; max-width: 100%;}

table {font-size: inherit;}

@font-face {
  font-family: 'icomoon';
  src:url('../fonts/icomoon.eot?-m6p9g1');
  src:url('../fonts/icomoon.eot?#iefix-m6p9g1') format('embedded-opentype'),
    url('../fonts/icomoon.woff?-m6p9g1') format('woff'),
    url('../fonts/icomoon.ttf?-m6p9g1') format('truetype'),
    url('../fonts/icomoon.svg?-m6p9g1#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-instagram:before {
  content: "\e600";
}
.icon-tumblr:before {
  content: "\e602";
}
.icon-twitter:before {
  content: "\e603";
}
.icon-github:before {
  content: "\e604";
}
.icon-dribbble:before {
  content: "\e605";
}

.clearfix:after{
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
.clearfix{
    display: block;
}
html[xmlns].clearfix{
    display: block;
}
*.clearfix{
    height: 1%;
}


/*****************************************************************************/
/*
/* Site - Main
/*
/*****************************************************************************/

.container {
  width: 100%;
  max-width: 800px;
  padding: 0 60px;
  margin: 0 auto;
}

header {
  width: 100%;
  background-color: #f9f9f9;
  border-bottom: 1px solid #e6e6e6;
  padding: 70px 0 35px;
  margin-bottom: 80px;
}

header h1 {
  font-size: 1.1em;
  font-weight: 700;
  padding: 0;
  margin: 0 0 20px;
  -webkit-font-smoothing: antialiased;
}

header h1 a {
  text-decoration: none;
}

nav.navigation ul {
  list-style: none;
  font-size: 110%;
}

nav.navigation ul li {
  display: inline-block; 
  padding-right: 20px;
}

nav.navigation ul li a {
  color: #8C8FA0;
  text-decoration: none;
}

nav.navigation ul li a:hover {
  color: #65BBE2;
}

nav.navigation ul li:last-child {
  padding-right: 0;
}

.current {
  border-bottom: 2px solid #BEC4D7;
}

main {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

main h1,
main h2, 
main h3,
main h4 {
  margin: 20px 0 10px 0;
  line-height: 145%;
  font-weight: 700;
}

main img.content-img {
  display: block;
  width: 90%;
  max-width: 920px;
  margin: 0 auto 30px;
}

main figure.img-wrap {
  position: relative;
  width: 100%;
  margin: 20px auto 40px;
  font-size: 80%;
}

main figure.img-wrap.float {
  position: relative;
  max-width: 550px;
}

main figure.img-wrap.floatLeft {
  margin-top: -5px;
  margin-left: -29.5%;
  margin-right: 35px;
  margin-bottom: 15px!important;
  float: left;
}

main figure.img-wrap.semi {
  max-width: 1080px;
}

main figure.img-wrap img {
  display: block;
  width: 100%;
}

main figure.img-wrap figcaption {
  font-family: 'futura-pt', sans-serif;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 5%;
  z-index: 2;
  color: #fff;
  text-shadow: 0 1px 1px rgba(0, 0, 0, .2);
}

main figure.img-wrap.semi figcaption {
  text-align: left;
  margin: 0 45% 0 4%;
}

main figure.img-wrap.floatLeft figcaption {
  text-align: left;
  margin: 0 5%;
}

main figure.img-wrap.full figcaption {
  text-align: right;
  margin: 0 4% 0 50%;
}

main figure figcaption h4 {
  margin: 0;
}

main figure.img-wrap::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 75%;
  background-image: -o-linear-gradient(-90deg, rgba(255,255,255,0) 0%, rgba(0,0,0,0.50) 100%);
  background-image: -moz-linear-gradient(-90deg, rgba(255,255,255,0) 0%, rgba(0,0,0,0.50) 100%);
  background-image: -webkit-linear-gradient(-90deg, rgba(255,255,255,0) 0%, rgba(0,0,0,0.50) 100%);
  background-image: -ms-linear-gradient(-90deg, rgba(255,255,255,0) 0%, rgba(0,0,0,0.50) 100%);
  background-image: linear-gradient(-180deg, rgba(255,255,255,0) 0%, rgba(0,0,0,0.50) 100%);
}

main figure.img-wrap.semi::after {
  top: 65%;
}

main figure.img-wrap.float::after {
  top: 55%;
}

main hr {
  width: 100%;
  height: 18px;
  border: none;
  margin: 30px 0;
  background: url('../assets/img/hr.png') center no-repeat;
}

main ul {
  padding: 0 0 0 40px; 
  list-style-type: circle;
}

main ul li {
  margin-bottom: 15px;
}

main .descr {
  font-size: 100%;
  margin-bottom: 45px; 
  padding: 40px 0; 
  border-top: 1px dotted #eee; 
  border-bottom: 1px dotted #eee; 
  color: #666;
  line-height: 1.6;
}

#posts {
  margin: 40px 0 0 0;
  padding: 0;
}

#posts.single {
  margin: 50px 0 0 0;
}

#posts li {
  list-style: none;
  padding: 35px 5px; 
  border-bottom: 1px solid #eee;
  margin: 0;
}

#posts li:first-child {
  border-top: 1px solid #eee;
}

#posts li a {
  text-decoration: none; 
  border: none!important;
  padding: 30px 0;
  transition: all .2s linear;
  -webkit-transition: all .2s linear;
}

#posts li a:hover {
  padding-left: 10px;
}

#posts .arrow {
  float: right;
  font-size: inherit;
  margin-left: 20px;
}

.highlight {
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  border: 1px solid #e6e6e6;
  border-radius: 3px;
  padding: 10px 25px;
  background-color: #f9f9f9;
  font-size: 80%;
  margin: 50px 0 40px;
}

.highlight code {
  width: 100%;
  max-width: 100%;
}

.highlight code.html::before {
  content: "HTML";
  color: #669FE2;
}

.highlight code.css::before {
  content: "CSS";
  color: #EAAFBD;
}

.highlight code.js::before {
  content: "JS";
  color: #AFB0EA;
}

.highlight code.html::before, 
.highlight code.css::before,
.highlight code.js::before {
  position: absolute;
  margin-top: -40px;
  background-color: #fefefe;
  border: 1px solid #e6e6e6;
  padding: 4px 10px; 
  border-radius: 3px 3px 0 0;
}

span.availability {
  padding: 0 4px;
  color: #fff;
}

span.availability.busy {
  background: rgb(238, 47, 83);
}

/*****************************************************************************/
/*
/* Site - Pages
/*
/*****************************************************************************/

.page-title {
  margin: 0 0 10px!important;
}

.page-excerpt {
  margin-bottom: 10px!important;
  font-size: 110%;
  line-height: 1.5;
  font-style: italic;
  font-weight: normal;
}

.page-date {
  color: #8C8FA0;
}

.page-img {
  margin: 0 auto 40px;
}

.page-excerpt:first-letter {
  text-transform: uppercase;
}

#map-canvas {
  width: 90%;
  max-width: 1080px;
  min-height: 500px;
  margin: 30px auto 50px;
}

footer {
  background-color: #f9f9f9;
  border-top: 1px solid #e6e6e6;
  margin-top: 100px;
  padding: 70px 0;
}

footer small {
  display: inline-block;
  font-size: 0.9em;
  color: #8C8FA0;
}

#social {
  float: right;
  display: inline-block;
}

#social li span {
  font-size: 140%;
}

#social li {
  list-style: none; 
  padding-left: 30px;
  display: inline; 
}

#social li a {
  text-decoration: none; 
  color: #DCDEE9;
}

#social li a:hover {
  color: #65BBE2;
}

#social li:first-child {
  padding-left: 0px;
}


/*****************************************************************************/
/*
/* Media Queries
/*
/*****************************************************************************/

@media only screen and (max-width: 1098px) {

  main figure.img-wrap.floatLeft 
  {float: none;}

  main figure.img-wrap.float 
  {max-width: 100%; margin: 10px auto 25px!important;}

  main figure.img-wrap.float figcaption 
  {text-align: right;}

}

@media only screen and (max-width : 919px) {

  body 
  {font-size: 18px;}

  header 
  {padding: 60px 0 35px 0; margin-bottom: 60px;}

  .container 
  {max-width: 680px;}

  #posts 
  {margin: 50px 0 0 0;}

  footer 
  {font-size: 90%; padding: 30px 0; margin-top: 80px;}

  footer .container
  {padding: 20px 40px;}

  #posts .arrow 
  {float: none; margin-left: 10px;}

  #posts li a:hover 
  {padding-left: 0;}

  main figure.img-wrap.semi figcaption,
  main figure.img-wrap.full figcaption
  {margin: 0 4%;}

}

@media only screen and (min-width: 581px) {

  #social
  {float: right;}

}

@media only screen and (max-width : 580px) {

  main figure.img-wrap 
  {margin: 10px auto 35px; font-size: 80%;}

  main figure.img-wrap::after 
  {display: none;}

  main figure.img-wrap figcaption {
  position: relative;
  text-align: left!important;
  color: #979CAD;
  text-shadow: none;
  padding-top: 10px;
  }

  main figure.img-wrap.float figcaption 
  {margin: 0!important;}

  #social 
  {float: none; width: 100%; display: block; margin-bottom: 15px;}

  footer 
  {text-align: center;}

}

@media only screen and (max-width : 480px) {

  body                  
  {font-size: 14px;}

  header                
  {padding: 30px 0 20px 0; margin-bottom: 40px;}

  header h1
  {margin-bottom: 10px;}

  nav.navigation ul li  
  {padding-right: 15px;}

  footer                
  {padding: 10px; margin-top: 60px;}

  #posts, #posts.single 
  {margin: 20px 0 0 0;}

  #posts li 
  {padding: 25px 5px;}

  #map-canvas 
  {min-height: 250px; margin: 0 auto 20px;}

  .container 
  {padding: 0 20px;}

  #social li
  {padding-left: 16px;}

}



