/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */
* {
  margin: 0;
  padding: 0;
}

html, body, #map-canvas { height: 100%; width: 100%; }

body {
  background-color: #fff;
  font-size: 21px;
  color: #333;
  font-family: "ff-meta-serif-web-pro",serif;
}

p { line-height: 165%; padding-bottom: 20px;}

a         { color: #141414; }
a:hover   { color: #65BBE2; }

i { font-style: italic; font-weight: 400;}

blockquote {
  max-width: 1040px; 
  margin: 0 auto 20px; 
  padding: 10px 20px; 
  text-align: center;
  font-size: 125%;
  font-style: italic; 
  line-height: 145%;
  font-weight: 400;
}

img { width: 100%; max-width: 100%;}

table {
  font-size: inherit;
}

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

@font-face {
  font-family: 'icomoon';
  src:url('../fonts/icomoon.eot');
  src:url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.woff') format('woff'),
    url('../fonts/icomoon.ttf') format('truetype'),
    url('../fonts/icomoon.svg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

.icon-twitter, .icon-github, .icon-dribbble, .icon-instagram {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

.icon-twitter:before {
  content: "\e002";
}
.icon-github:before {
  content: "\e003";
}
.icon-dribbble:before {
  content: "\e004";
}
.icon-instagram:before {
  content: "\e005";
}


/*****************************************************************************/
/*
/* Site - Main
/*
/*****************************************************************************/

.container {
  width: 100%;
  max-width: 860px;
  padding: 0 60px;
  margin: 0 auto;
}

header {
  width: 100%;
  background-color: #f9f9f9;
  border-bottom: 1px solid #e6e6e6;
  padding: 70px 0 50px;
  margin-bottom: 80px;
}

header h1 {
  font-size: 1.1em;
  font-weight: 700;
  padding: 0;
  margin: 0 0 20px;
  -webkit-font-smoothing: antialiased;
}

header h1 a {
  text-decoration: none;
}

nav.navigation ul {
  list-style: none;
  font-size: 1em;
}

nav.navigation ul li {
  display: inline-block; 
  padding-right: 20px;
}

nav.navigation ul li a {
  color: #8C8FA0;
}

nav.navigation ul li a:hover {
  color: #65BBE2;
}

nav.navigation ul li:last-child {
  padding-right: 0;
}

.current {
  font-weight: 700;
  text-decoration: none;
}

main {
  width: 100%;
}

main h1,
main h2, 
main h3,
main h4 {
  margin: 20px 0 10px 0;
  line-height: 145%;
  font-weight: 700;
}

main img {
  width: 90%;
  max-width: 1080px;
  margin: 0 auto 20px;
}

main hr {
  width: 100%;
  height: 18px;
  border: none;
  margin: 30px 0;
  background: url('../assets/img/hr.png') center no-repeat;
}

main ul {
  padding: 0 0 0 40px; 
  list-style-type: circle;
}

main ul li {
  margin-bottom: 15px;
}

main .descr {
  font-size: 100%;
  margin-bottom: 45px; 
  padding: 40px 0; 
  border-top: 1px dotted #eee; 
  border-bottom: 1px dotted #eee; 
  color: #666;
  line-height: 1.6;
}

#posts {
  margin: 40px 0 0 0;
  padding: 0;
}

#posts.single {
  margin: 60px 0 0 0;
}

#posts li {
  list-style: none;
  padding: 35px 5px; 
  border-bottom: 1px solid #eee;
  margin: 0;
}

#posts li:first-child {
  border-top: 1px solid #eee;
}

#posts li a {
  text-decoration: none; 
  border: none!important;
  padding: 30px 0;
  transition: all .2s linear;
  -webkit-transition: all .2s linear;
}

#posts li a:hover {
  padding-left: 10px;
}

#posts .arrow {
  float: right;
  font-size: inherit;
  margin-left: 20px;
}

.highlight {
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  border: 1px solid #e6e6e6;
  border-radius: 3px;
  padding: 10px 25px;
  background-color: #f9f9f9;
  font-size: 80%;
  margin: 50px 0 40px;
}

.highlight code {
  width: 100%;
  max-width: 100%;
}

.highlight code.html::before {
  content: "HTML";
  color: #669FE2;
}

.highlight code.css::before {
  content: "CSS";
  color: #EAAFBD;
}

.highlight code.js::before {
  content: "JS";
  color: #AFB0EA;
}

.highlight code.html::before, 
.highlight code.css::before,
.highlight code.js::before {
  position: absolute;
  margin-top: -40px;
  background-color: #fefefe;
  border: 1px solid #e6e6e6;
  padding: 4px 10px; 
  border-radius: 3px 3px 0 0;
}

/*****************************************************************************/
/*
/* Site - Pages
/*
/*****************************************************************************/

.page-title {
  margin: 0 0 10px!important;
}

.page-excerpt {
  margin: 0 0 40px!important;
  font-style: italic;
  font-weight: normal;
}

.page-date {
  color: #8C8FA0;
}

.page-image {
  margin-bottom: 40px;
}

.page-excerpt:first-letter {
  text-transform: uppercase;
}

#map-canvas {
  width: 100%;
  max-width: 1080px;
  min-height: 500px;
  margin: 30px auto 50px;
}

footer {
  background-color: #f9f9f9;
  border-top: 1px solid #e6e6e6;
  margin-top: 100px;
  padding: 70px 0;
}

footer small {
  display: inline-block;
  font-size: 0.9em;
  color: #8C8FA0;
}

#social {
  float: right;
  display: inline-block;
}

#social li span {
  font-size: 30px;
}

#social li {
  list-style: none; 
  padding-left: 30px;
  display: inline; 
}

#social li a {
  text-decoration: none; 
  color: #DCDEE9;
}

#social li a:hover {
  color: #65BBE2;
}

#social li:first-child {
  padding-left: 0px;
}


/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

/* standard */
.post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em;
}

.post ul, .post ol {
  margin-left: 1.35em;
}

.post code {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .2em;
}

.post pre code {
  border: none;
}

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

.post pre.terminal code {
  background-color: #333;
}

/*****************************************************************************/
/*
/* Media Queries
/*
/*****************************************************************************/


@media only screen and (max-width : 919px) {

  body 
  {font-size: 19px;}

  header 
  {padding: 60px 0 40px 0; margin-bottom: 60px;}

  #posts 
  {margin: 50px 0 0 0;}

  footer 
  {padding: 50px 0; margin-top: 80px;}

  #posts .arrow 
  {float: none;}

  #posts li a:hover 
  {padding-left: 0;}

  #social 
  {float: right;}

}

@media only screen and (max-width : 480px) {

  body                  
  {font-size: 16px;}

  header                
  {padding: 30px 0 30px 0; margin-bottom: 40px;}

  nav.navigation ul li  
  {padding-right: 15px;}

  footer                
  {padding: 40px 0; margin-top: 60px;}

  h1 {font-size: 140%;}
  h2 {font-size: 130%;}
  h3 {font-size: 120%;}
  h4 {font-size: 110%;}

  #posts 
  {margin: 30px 0 0 0;}

  #social 
  {float: none; padding-top: 20px;}

  #map-canvas 
  {min-height: 250px;}

  .container 
  {padding: 0 20px;}
}



