.albums-list {
  @extend %reset-list;
  @extend %clearfix;
  @include display(flex);
  @include flex-wrap(wrap);
  margin-left: -1rem;
  &-item {
    @include breakpoint(sm) {
      width: 33.333333%;
    }
    @include breakpoint(md) {
      width: 25%;
    }
    @include breakpoint(xs) {
      width: 50%;
    }
    padding: 0 0 0 1rem;
    margin: 0 0 1.25rem 0;
  }
  &-item-artwork {
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.08);
  }
  &-item-title {
    @extend %reset-heading;
    margin-bottom: 5px;
    font-size: 1rem;
    font-weight: normal;
  }
  &-item-artist {
    @extend %reset-heading;
    font-size: 1rem;
    font-weight: normal;
    color: $color-text-lighter;
  }
}
