.site-header {
  display: flex;
  align-items: center;
  @include breakpoint(xs) {
    padding-top: 5vh;
    margin-bottom: 5vh;
  }
  @include breakpoint(sm) {
    height: 25vh;
    min-height: 100px;
  }
}
