.posts-list {
  @extend %reset-list;
  &-item {
    margin: 2.2rem 0;
    &:first-child {
      margin-top: 0;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
  &-item-link {
    text-decoration: none;
  }
  &-item-title {
    @extend %reset-heading;
    font-size: 1rem;
  }
  &-item-lang {
    font-weight: normal;
    color: $color-text-lighter;
  }
  &-item-date {
    display: inline-block;
    margin-bottom: 5px;
    color: $color-text-lighter;
  }
}
