$work-item-height: 500px;

.work-list {
  margin-top: 4em;
  margin-bottom: 400px;
  &-item {
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center;
    height: $work-item-height;
    &:nth-child(even) {
      position: relative;
      top: $work-item-height/2;
    }
    &-link {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 540px;
      z-index: 3;
    }
    &-media {
      position: relative;
      flex: 0 0 450px;
      &-inner {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 450px;
        overflow: hidden;
      }
    }
    &-text {
      position: relative;
      z-index: 2;
    }
    &-thumbnail {
      position: relative;
      z-index: 2;
      top: 50%;
      transform: translateY(-50%);
    }
    &-background {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 450px;
      transition: transform 0.3s ease, opacity 0.3s ease;
      transform-origin: top;
      .work-list-item:hover & {
        transform: scaleX(1.12) scaleY(1.25);
      }
    }
    &-title {
      margin-bottom: 4px;
    }
    &-type {
      font-weight: normal;
      color: $color-text-lighter;
    }
  }
}
