.nav {
  &-list {
    @extend %reset-list;
  }
  &-list-item {
    margin: 0;
  }
  &-link {
    display: block;
    text-decoration: none;
    &.current {
      &::after {
        content: '✻';
        margin-left: 4px;
        color: $color-text-lighter;
      }
    }
  }
}
