.nav {
  &-list {
    @extend %reset-list;
  }
  &-list-item {
    margin: 0;
    @include breakpoint(xs) {
      margin-bottom: 5px;
      padding: 6px 10px;
      background-color: rgba(0, 0, 0, 0.06);
    }
  }
  &-link {
    display: block;
    text-decoration: none;
    &.current {
      text-decoration: line-through;
    }
  }
}
