.nav {
  &-list {
    @extend %reset-list;
  }
  &-list-item {
    margin: 0;
  }
  &-link {
    display: block;
    text-decoration: none;
    &.current {
      text-decoration: line-through;
    }
  }
}
