.top-intro {
  @include breakpoint(sm) {
    display: flex;
    flex-direction: column;
    height: 70vh;
  }
  h1 {
    font-size: 50px;
  }
  p {
    @include breakpoint(sm) {
      font-size: 20px;
      line-height: 30px;
    }
  }
  .section-title {
    margin-top: auto;
    padding-top: 50px;
  }
}
