---
layout: default
id: home
title: Portfolio
---

<div class="container">
  <div class="top-intro">
    <div class="ts-measure">
      <h1 class="ts-headline flip">Hello.</h1>
      <p>My name is Mathieu Mayer. I'm a designer but I wear many hats. I've helped organizations <a class="hint" href="{{ "/work/think-with-google.html" | relative_url }}">tell their stories</a>, <a class="hint" href="{{ "/work/myasics.html" | relative_url }}">create better interactions</a> and <a class="hint" href="{{ "/work/exchange.html" | relative_url }}">optimize their design operations</a>.</p>
      <p>I've spent the last 4 years in Japan. Before that, I also lived in France and the United Arab Emirates. This website is a collection of projects to which I have contributed since 2013. <a class="hint" href="mailto:mathieu.mayermazzoli@gmail.com">Hire me</a>.</p>
    </div>
    <h2 class="section-title ts-strong"><span class="scroll-down">&#x02193; </span>Selected Projects</h2>
  </div>

  <div class="work">
    <div class="work-list grid grid-d2-m1">
      {% for work in site.work reversed %}
        <div class="work-list-item grid-item {{ work.class }}">
          <a class="work-list-item-link" href="{{ work.url | relative_url }}"></a>
          <div class="work-list-item-media">
            <div class="work-list-item-background" style="background-color: {{ work.color }};"></div>
            <div class="work-list-item-media-inner"">
              <img class="work-list-item-thumbnail lazyload" src="{{ work.cover | relative_url }}" />
            </div>
          </div>
          <div class="work-list-item-text">
            <h3 class="work-list-item-title fs-reset">{{ work.title }}</h3>
            <small class="work-list-item-type">{{ work.description }}</small>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
  {% include footer.html %}
</div>
