			</div> <!-- MAIN -->

			<footer class="clearfix">
				<small>© 2013 - Mathieu Mayer-Mazzoli</small>
				<ul id="social">
					<li><a target="_blank" href="http://twitter.com/mx3m"><span class="icon-twitter"></span></a></li>
					<li><a target="_blank" href="http://dribbble.com/3xM"><span class="icon-dribbble"></span></a></li>
					<li><a target="_blank" href="http://github.com/m3xm"><span class="icon-github"></span></a></li>
					<li><a target="_blank" href="http://instagram.com/m3xm"><span class="icon-instagram"></span></a></li>
				</ul>
			</footer>

		</div>	<!-- WRAPPER -->

		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
		<script src="{{ site.baseurl }}js/main.js"></script>
		<script src="{{ site.baseurl }}js/map.js"></script>
	</body>
</html>