<footer class="site-footer">
  <div class="flex-container">
    <aside class="aside"></aside>
    <div class="main">
      <small>(CC) Mathieu Mayer - <a href="http://www.dribbble.com/m3xm" title="mx3m on Dribbble">on Dribbble</a> - <a href="http://twitter.com/mx3m" title="mx3m on Twitter">on Twitter</a> - <a href="https://github.com/mx3m" title="mx3m on Github">on Github</a></small>
    </div>
  </div>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{{ site.baseurl }}/js/main.js" type="text/javascript" charset="utf-8" async defer></script>
