$base-font-size: 16px;
$base-line-height: 1.55;

$color-text: #4f4b3d;
$color-text-lighter: lighten($color-text, 30%);
$color-link: darken($color-text, 20%);
$color-link-hover: crimson;
$color-link-visited: inherit;

$color-background: #f9f6e4;
$color-background-darker: darken($color-background, 5%);

$color-bright: #ffef33;
