p {
  margin: 1rem 0;
  &:first-child {
    margin-top: 0;
  }
  &:last-child {
    margin-bottom: 0;
  }
}

.dropcap {
  float: left;
  margin-right: 5px;
  font-size: 5.25em;
  line-height: 0.85em;
  color: crimson;
  font-weight: lighter;
  -webkit-font-smoothing: antialiased;
}

.muted {
  color: $color-text-lighter;
}
