.wrapper {
  max-width: 1180px;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem 2rem;
  @include breakpoint(xs) {
    padding: 1rem;
  }
}

.flex-container {
  @include breakpoint(sm) {
    @include display(flex);
  }
}

.aside {
  @include breakpoint(sm) {
    width: 30%;
    min-width: 30%;
  }
  margin-bottom: 2rem;
}

.main {
  @include breakpoint(sm) {
    width: 70%;
  }
}
