.post {
  backface-visibility: hidden;
  &-header {
    margin-bottom: 150px;
    &-meta {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      .mission {
        flex: 0 0 60%;
      }
      .info {
        flex: 0 0 30%;
      }
    }
  }
  &-title {
    margin-bottom: 2rem;
  }
  &-content {
    width: 95%;
    max-width: 1200px;
    margin: 0 auto;
  }
}
