---
id: blog
---

{% include header.html %}


		<small class="page-date">Posted on {{ page.date | date_to_string }}</small>
		<h1 class="page-title">{{ page.title }}</h1>

	</div><!-- container -->
	<div class="container">
		<h3 class="page-excerpt">{{ page.excerpt }}</h3>
		{{ content }}

	<ul id="posts" class="single">
		<li class="social-link twitter-link">
	  		<a href="http://twitter.com/share" class="popup">Share the post on <strong>Twitter</strong><span class="arrow">&rsaquo;</span></a>
		</li>
		<li class="social-link download-link">
	  		<a href="{{ site.baseurl }}blog.html">Go back to the <strong>Posts List</strong><span class="arrow">&rsaquo;</span></a>
		</li>
	</ul>

{% include footer.html %}