---
layout: default
id: journal
post: true
---

{% include aside.html %}

<div class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
  </header>

  <article class="post-content">
    {{ content }}
  </article>

  <footer class="post-footer">
    {% if page.lang == 'fr' %}
      <p>Hein?! Donnez votre opinion via <a href="http://twitter.com/mx3m/">twitter.</a></p>
    {% else %}
      <p>What?! Start a conversation with me on <a href="http://twitter.com/mx3m/">twitter.</a></p>
    {% endif %}
  </footer>

</div>
